---
layout: default
class: landing
javascript: ['/public/js/landing.js']
description: ''
keywords: ''
---

<div class='iphone'>
  <div id='iphone-screen' class='carousel slide'>
    <div class='carousel-inner'><!--
      --><div class='item splash active'></div><!--
      --><div class='item list'></div><!--
      --><div class='item map'></div><!--
      --></div>
  </div>
</div>

<div class='copy-container'>
  {% capture description %}{% include description.md %}{% endcapture %}
  {{ description | markdownify }}

  <form action='{{ site.newsletter_post_url }}' method='post' target='_blank' 
        class='form-inline newsletter-form'>

    <label for='email'>Sign up to recieve news about Pharos.</label>
    <input type='email' class='input-large' placeholder='Email' name='EMAIL' 
           id='email'>
    <button type='submit' class='btn'>Sign Up</button>
  </form>

  {% include social_media.html %}
  <div class='app-store-badge'></div>
</div>
