.default-layout {
  background: @footerColor;
  .body-wrapper {
    width: 100%;
    height: 740px;
    min-width: @gridRowWidth;
    background-attachment: scroll;
    background-color: @bodyWrapperColor;
    background-image: url('/public/img/background_lighthouse.png');
    background-position: right 40px;
    background-repeat: no-repeat;
    border-top: 5px solid @bodyWrapperBorderColor;
    .container-header {
      padding: 20px 0;
    }
    .container-main {
      background-color: rgba(255, 255, 255, .75);
      .box-shadow(0 5px 5px rgba(0, 0, 0, .4));
      .content {
        padding: 50px;
      }
    }
  }
  .footer-wrapper {
    border-top: 5px solid @footerBorderColor;
    .container-footer {
      min-height: 100px;
    }
  }
}
