<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>

    <meta name='description' content="{{ page.description }}" />
    <meta name='keywords' content='{{ page.keywords }}' />
    <meta name='author' content='{{ site.author.name }}' />

    {% if page.title %}
      <title>{{ page.title }} | {{ site.title }}</title>
    {% else %}
      <title>{{ site.title }} - {{ site.subtitle }}</title>
    {% endif %}

    <link rel='shortcut icon' href='/public/img/favicon.ico?1'>

    {% if site.production %}
      <link rel='stylesheet' href='/public/css/style.min.css'>
    {% else %}
      <link rel='stylesheet' href='/public/css/style.css'>
    {% endif %}

    <!--[if lte IE 8]>
      <script src="/public/vendor/html5shiv/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body class='default-layout'>
    <div class='body-wrapper'>
      <header class='container container-header'>
        <h1><a href='/'>{{ site.title }}</a></h1>
      </header>
      <div class='container container-main {{ page.class }}'>
        <div class='content'>
          {{ content }}
        </div>
      </div>
    </div>

    <div class='footer-wrapper'>
      <footer class='container container-footer'>
      <p class='copyright'>&copy; <a href='http://thejakeharding.com'>Jake Harding</a>  2012</p>
      <p class='art-by'>Art by <a href='http://about.me/nicolastoth'>Nicolas Toth</a></p>
      <ul class='links unstyled'>
        <li>|&nbsp;&nbsp;<a href='/'>Home</a>&nbsp;&nbsp;|</li>
        <li>&nbsp;&nbsp;<a href='/support.html'>Support</a>&nbsp;&nbsp;|</li>
        <li>&nbsp;&nbsp;<a href='#'>iTunes Link</a>&nbsp;&nbsp;|</li>
      </ul>
      </footer>
    </div>
    
    {% for file in page.javascript %}
      {% if site.production %}
        <script src='{{ file | replace:".js", ".min.js" }}'></script>
      {% else %}
        <script src='{{ file }}'></script>
      {% endif %}
    {% endfor %}

    {% if site.production %}
      {% include analytics.html %}
    {% endif %}
  </body>
</html>
